<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>home page</title>
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:400,700">
   <link rel="stylesheet" href="/static/home.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
    <section>
        <h1>Meteo⛅</h1>
        <h2>{{ msg }}</h2>
        <form method="POST" action="{{ url_for('form')}}">
         <input type="text" class="form-control mb-2 mr-sm-2"  placeholder="                                  nom de station" name="Station">
         <div class="input-group mb-2 mr-sm-2">
         <span>date</span>
         <input type="date" class="form-control" name="Date" >
         <button type="submit" class="btn btn-primary mb-2" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
         <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
         </svg> search</button>
         </div>
        </form>
    </section>
</body>  
</html>  