<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/pl.css">
    <title>plot_h</title>
</head>
<body>
    <section>
        <p>Humedite</p>
        <p>Station : {{H[0]}}</p>
        <p>Date : {{H[1]}}</p>
        <img src="data:image/png;base64, {{ plot_url }}">
      </section>
</body>
</html>